
<ion-content class="ion-padding" color="Warning">

  <ion-card color="light" class="ion-padding">
    <ion-row class="ion-align-self-center">
      <h3 class="tituloH3">Só precisaremos de mais 3 informações.</h3>
    </ion-row>
  </ion-card>

  <div class="form">
    <form class="ion-padding" color="tertiary">
      <ion-item spellcheck="true" class="ion-padding-top">
        <ion-label fl position="floating">Quantos cigarros você fuma por dia?</ion-label>
        <ion-input type="text" [(ngModel)]="qtdcigarros" name="qntdcig" required></ion-input>
      </ion-item>
      <ion-item spellcheck="true" class="ion-padding-top">
        <ion-label f2 position="floating">Qual o valor do seu maço de cigarro?</ion-label>
        <ion-input type="text" [(ngModel)]="valorMacoCig" name="valcig" required></ion-input>
      </ion-item>
      <ion-item spellcheck="true" class="ion-padding-top">
        <ion-label f3 position="floating">Quantos cigarros vem no maço?</ion-label>
        <ion-input type="text" [(ngModel)]="qntdcigmaco" name="qntdcigma" required></ion-input>
      </ion-item>
      <!-- vai ter um href nesse btn -->
      <div id="btnform">
        <ion-button routerLink="/homeperfil" (click)="printLog()" shape="round"block>Continuar</ion-button>
      </div>
    </form>
  </div>
  <div id="btnback">
      <ion-button shape="round" expand="block" href="http://localhost:8100/form01" outline>
        VOLTAR
      </ion-button>
    </div>
</ion-content>
