<ion-header>
  <ion-toolbar>
    <ion-title>creditos</ion-title>
    
<html>

<body>
     <!-- /container -->
    <!-- Start of Credits -->
    <div id="titles">
      <div id="credits">
          <div id="the-end">PetPaw.co</div>
          <br />
          <h1>Cast</h1>
          <dl>
              <dt>Founder</dt>
              <dd>Daniel Mattos</dd>
              <dt>Creative ideas</dt>
              <dd>Ricardo Manholetti</dd>
              <dt>Operations</dt>
              <dd>João Victor</dd>
              <dt>Business Commands</dt>
              <dd>Gustavo Paulino</dd>
              <dt>Sales and Services</dt>
              <dd>Mauricio Oliveira</dd>
          </dl>
          <h1>Special Thanks</h1>
          <p>Prof. Matheus Correa</p>
          <div class="clearfix"></div>

          <div class="clearfix"></div>
          <h1>Developed using</h1>


          <h1>Say Hail!</h1>
          <div class="clearfix"></div>
          <div class="fineprint">All trademarks are the property of the trademark owners.
              <br>All premier division football player are the property of premier
              <br>division football team owners.</div>

      </div>
      <div class="clearfix"></div>
  </div>
  <script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
  <script src="static/endcredits.js"></script>
</body>

</html>

  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
