<ion-header>
  <ion-toolbar>
    <ion-title>Créditos</ion-title>
</ion-toolbar>
</ion-header>

   
          <br />
          <h1>Cast</h1>
          <dl>
              <dt>Founder</dt>
              <dd>Daniel Mattos</dd>
              <dt>Creative ideas</dt>
              <dd>Ricardo Manholetti</dd>
              <dt>Operations</dt>
              <dd>João Victor</dd>
              <dt>Sales and Services</dt>
              <dd>Mauricio Oliveira</dd>
          </dl>
          <h1>Special Thanks</h1>
          <p>Prof. Matheus Correa</p>
  


<ion-content>
    <ion-button routerLink="/homeperfil" expand="block" fill="clear" shape="round">
        <p>Voltar para Pagina Home</p>
      </ion-button>
</ion-content>
