<ion-header>
  <ion-toolbar>
    <ion-title>Créditos</ion-title>
</ion-toolbar>
</ion-header>



<div id="titles">  
    <div id="credits">
        <marquee behavior="scroll" direction="up">
          <h1>Elenco</h1>
              <dt>Fundador</dt>
              <dd>Daniel Mattos</dd>
              <dt>Criativo</dt>
              <dd>Ricardo Manholetti</dd>
              <dt>Operações</dt>
              <dd>João Victor</dd>
              <dt>Serviços</dt>
              <dd>Mauricio Oliveira</dd>
          
          <h1>Special Thanks</h1>
          <dt>Apoio</dt>
          <dd>Prof. Matheus Correa</dd>
        </marquee>
        </div>
    </div> 

    

<ion-content>
    <ion-button routerLink="/homeperfil" expand="block" fill="clear" shape="round">
        <p>Voltar para Pagina Home</p>
      </ion-button>
</ion-content>
