<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">Stop Smoking!</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar class="avatar">
          <img src="assets/icon/avataricon.png">
        </ion-avatar>
        <p class="paroudata">Bem vindo {{user.name}} </p>
        <p class="paroudata2" >Entrou em: {{datahoje()}}</p>
      </ion-col>
      <ion-col class="infos">
        <p class="nome">{{user.nome}}</p>
        <p class="data">Dias sem fumar: 0</p>
        
        <p class="evitados">Cigarros Evitados: 0</p>
        <p class="economizado">Dinheiro economizado: R$ 00,00</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button class="botao" shape="round" routerLink="/dicas-saude" >
    <ion-icon class="icone"  name="heart"></ion-icon>
    Dicas de Saúde
  </ion-button>

  <ion-button class="botao" shape="round" routerLink="/depoimentos" >
    <ion-icon class="icone"  name="receipt-sharp"></ion-icon>
    Depoimentos
  </ion-button>
  <ion-button class="botao" shape="round"  routerLink="/conquistas" >
    <ion-icon class="icone" name="trophy"></ion-icon>
    Conquistas
  </ion-button>
  <ion-button class="botao" shape="round" routerLink="/creditos"  >
    <ion-icon class="icone" name="apps-outline"></ion-icon>
    Creditos 
  </ion-button>
 <ion-button class="botao" shape="round" routerLink="/extras"  >
    <ion-icon class="icone" name="at-outline"></ion-icon>
    Notícias 
  </ion-button>
  <ion-button class="botao" shape="round" routerLink="/bonus"  >
    <ion-icon class="icone" name="construct-outline"></ion-icon>
    Bônus ( Em construção)
  </ion-button>
</ion-content>