<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">Stop Smoking!</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar class="avatar">
          <img src="https://pesquisaadv.com.br/imagens/perfil/20151013164749990.jpg">
        </ion-avatar>
        <p class="paroudata">Seu Stop day</p>
        <p class="paroudata2">18 MARÇO 2021</p>
      </ion-col>
      <ion-col class="infos">
        <p class="nome">Francisco Fernandes</p>
        <p class="data">Dias sem fumar: 40</p>
        <p class="evitados">Cigarros Evitados:280</p>
        <p class="economizado">Dinheiro economizado: R$ 57,35</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button class="dicas" shape="round" routerLink="/dicas-saude" expand="full">
    <ion-icon class="icondicas" slot="start" name="heart"></ion-icon>
    Dicas de Saúde
  </ion-button>

  <ion-button class="depoimentos" shape="round" routerLink="/depoimentos" expand="full">
    <ion-icon class="icondepoimentos" slot="start" name="receipt-sharp"></ion-icon>
    Depoimentos
  </ion-button>
  <ion-button class="conquistas" shape="round" routerLink="/conquistas" expand="full">
    <ion-icon class="iconconquistas" name="trophy"></ion-icon>
    Conquistas
  </ion-button>

</ion-content>