<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title class="ion-text-center">Stop Smoking!</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-avatar class="avatar">
          <img src="assets/icon/avataricon.png">
        </ion-avatar>
        <p class="paroudata">Bem vindo {{user.name}} </p>
        <p class="paroudata2" >Entrou em: {{datahoje()}}</p>
      </ion-col>
      <ion-col class="infos">
        <p class="nome">{{user.nome}}</p>
        <p class="data">Dias sem fumar: 0</p>
        
        <p class="evitados">Cigarros Evitados: 0</p>
        <p class="economizado">Dinheiro economizado: R$ 00,00</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button class="dicas" shape="round" routerLink="/dicas-saude" expand="full">
    <ion-icon class="icondicas"  name="heart"></ion-icon>
    Dicas de Saúde
  </ion-button>

  <ion-button class="depoimentos" shape="round" routerLink="/depoimentos" expand="full">
    <ion-icon class="icondepoimentos"  name="receipt-sharp"></ion-icon>
    Depoimentos
  </ion-button>
  <ion-button class="conquistas" shape="round"  routerLink="/conquistas" expand="full">
    <ion-icon class="iconconquistas" name="trophy"></ion-icon>
    Conquistas
  </ion-button>
  <ion-button class="creditos" shape="round" routerLink="/creditos" expand="full" >
    <ion-icon class="iconcreditos" name="check-done-outlined"></ion-icon>
    Creditos 
  </ion-button>

</ion-content>