.img
{
  width: 150px;
  height: 100px;
}

h2 { 
  color: #ffffff; 
  font-family: 'Raleway',sans-serif; 
  font-size: 20px; 
  font-weight: 500; 
  line-height: 36px; 
  margin: 0px; 
  text-align: center; 
}

.dicas{
    width: 99%;
    height: 90px;
    }

.icondicas{
  width: 40px;
  height: 100px;
  margin-right: 10;
}

.depoimentos{
  width: 99%;
  height: 90px;
  }

  .icondepoimentos{
  width: 40px;
  height: 100px;
  margin-left: 20px;
}

.conquistas{
  width: 99%;
  height: 90px;
  }

.iconconquistas{
  width: 40px;
  height: 100px;
  margin-right: 10;
}