<ion-header>
  <ion-toolbar>
    <ion-title>Depoimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="tutorial-page">
  <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">

      <ion-icon name="person-outline" class="ion-padding-top"></ion-icon>
      <h4 [innerHTML]="slide.titulo" class="slide-title"></h4>
      <p [innerHTML]="slide.depoimento"></p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
        Não sei oq colocar aqui
      </ion-toolbar>
      <img
        src="https://images.pexels.com/photos/5640581/pexels-photo-5640581.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" />
      <h2 class="slide-title">Ready to Play?</h2>
      <button ion-button large clear icon-end color="primary">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>
