<link rel="stylesheet" href="depoimentos.page.scss">
<ion-content>
  <div id="backgroundFumo">

    <div id="avtdepts">
      <ion-card color="medium" class="daily-scenary-card" class="ion-activatable ripple-parent">
        <ion-avatar>
          <img
            src='https://images.pexels.com/photos/276064/pexels-photo-276064.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500' />
          <p>Filipe Venâncio</p> <br>
        </ion-avatar>
        <!-- {{ depoiments}} -->
        <p> TESTE DEPOIMENTO </p>
      </ion-card>
    </div>

  </div>
</ion-content>