<ion-header>
  <ion-toolbar>
    <ion-title>depoimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="depoimentos">
    <div class="conteiner">
        <div class="row-fluid">
            <h1>Depoimentos</h1>
            <div class="span8 offset2">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img class="avatar" src="http://s2.glbimg.com/RekpeYwImkfYRn3gglaC7flBgeQ=/smart/s.glbimg.com/es/ge/f/original/2015/11/04/cristianoronaldo-selfie.png">
                            <blockquote class="text-center">
                                <p>Sou exemplo a todos, precisava parar de fumar urgente... Muito obrigado pelo incentivo STOP SMOKING.</p>
                                <cite>Cristiano Ronaldo, <a target="_blank" href="https://instagram.com/cristiano">@cristiano</a></cite>
                            </blockquote>
                        </li>
                        <li>
                            <img class="avatar" src="https://i.pinimg.com/736x/07/df/5e/07df5ef057cb918fe881080f7dd3e209.jpg">
                            <blockquote class="text-center">
                                <p>Desde 2017 fumava 22 cigarros por dia. Com a ajuda do aplicativo STOP SMOKING consegui parar. Muito feliz. a-d-o-r-o</p>
                                <cite>Anitta, <a target="_blank" href="https://instagram.com/anitta">@anitta</a></cite>
                            </blockquote>
                        </li>
                        <li>
                            <img class="avatar" src="https://i.pinimg.com/474x/6c/ab/04/6cab04b304002595585e431479985964.jpg">
                            <blockquote class="text-center">
                                <p>Sem palavras pra descrever como esse aplicativo me ajudou a parar de fumar.</p>
                                <cite>Neymar Jr, <a target="_blank" href="https://instagram.com/neymarjr">@neymarjr</a></cite>
                            </blockquote>
                        </li>

                        <li>
                          <img class="avatar" src="https://avatars.githubusercontent.com/u/60281506?s=400&v=4">
                          <blockquote class="text-center">
                              <p>Não sei como explicar a felicidade no momento que descobri o STOP SMOKING.</p>
                              <cite>Dembele, <a target="_blank" href="https://instagram.com/dan.mattozs">@dan.mattozs</a></cite>
                          </blockquote>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</ion-content>
