
<ion-content class="ion-padding">

  <ion-card color="light" class="ion-padding">
    <ion-row class="ion-align-self-center">
      <h4 class="tituloH3"> Olá <b>{{user.name}}</b> <br> Precisamos que você insira algumas informações abaixo.</h4>
    </ion-row>
  </ion-card>

  <div>
    <ion-item spellcheck="true" class="ion-padding-top">
      <ion-label position="floating" color="medium" value="dd/mm/yyyy">Data de nascimento</ion-label>
      <ion-input required pattern="[0-9]{2}-[0-9]{2}-[0-9]{4}" [(ngModel)]="dataNasc"></ion-input>
    </ion-item>

    <ion-item spellcheck="true" class="ion-padding-top">
      <ion-label color="medium">Insira seu gênero</ion-label>
      <ion-select id="genuser" [(ngModel)]="genuser" okText="Continuar" cancelText="Desfazer">
        <ion-select-option value="Feminino">Feminino</ion-select-option>
        <ion-select-option value="Masculino">Masculino</ion-select-option>
        <ion-select-option value="NaoAplica">Não se aplica</ion-select-option>
      </ion-select>
    </ion-item>


    <ion-item spellcheck="true" class="ion-padding-top">
      <ion-label color="medium">Insira seu estado</ion-label>
      <ion-select id="cityuser" [(ngModel)]="cityuser" okText="Continuar" cancelText="Desfazer">
        <ion-select-option value="Acre">AC</ion-select-option>
        <ion-select-option value="Alagoas">AL</ion-select-option>
        <ion-select-option value="Amapá">AP</ion-select-option>
        <ion-select-option value="Amazonas">AM</ion-select-option>
        <ion-select-option value="Bahia">BA</ion-select-option>
        <ion-select-option value="Ceará">CE</ion-select-option>
        <ion-select-option value="Espírito Santo">ES</ion-select-option>
        <ion-select-option value="Goiás">GO</ion-select-option>
        <ion-select-option value="Maranhão">MA</ion-select-option>
        <ion-select-option value="Mato Grosso">MT</ion-select-option>
        <ion-select-option value="Mato Grosso do Sul">MS</ion-select-option>
        <ion-select-option value="Minas Gerais">MG</ion-select-option>
        <ion-select-option value="Para">PA</ion-select-option>
        <ion-select-option value="Paraiba">PB</ion-select-option>
        <ion-select-option value="Parana">PR</ion-select-option>
        <ion-select-option value="Pernambuco">PE</ion-select-option>
        <ion-select-option value="Piauí">PI</ion-select-option>
        <ion-select-option value="Rio de Janeiro">RJ</ion-select-option>
        <ion-select-option value="Rio Grande do Norte">RN</ion-select-option>
        <ion-select-option value="Rio Grande do Sul">RS</ion-select-option>
        <ion-select-option value="Roraima">RR</ion-select-option>
        <ion-select-option value="Santa Catarina">SC</ion-select-option>
        <ion-select-option value="São Paulo">SP</ion-select-option>
        <ion-select-option value="Sergipe">SE</ion-select-option>
        <ion-select-option value="Tocantins">TO</ion-select-option>
        <ion-select-option value="Distrito Federal">DF</ion-select-option>
      </ion-select>
    </ion-item>


    <div id="btnform">
      <ion-button routerLink="/form02" (click)="saveForm01()" (click)="printLog()" shape="round">Continuar
      </ion-button>
    </div>

    <div id="btnback">
      <ion-button shape="round" expand="block" href="http://localhost:8100/bemvindo" outline>
        VOLTAR
      </ion-button>
    </div>

  </div>

</ion-content>