<ion-header>
  <ion-toolbar>
    <ion-title> Conquistas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="homeperfil"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
          <b class ="texto" style="color:#ffffff;">Seu primeiro passo</b>
          <small class="textomenor"style="color:#ffffff;" >1 dia sem fumar</small>
          <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3ea1ZNGTnXSI7FNV2AggEWhsptxfFVxF4zqzKIK6rAekD6M31C1-eKyLUKVUrax8WSRSiHtUntv4BCBkj8XhdQyUWcNV0nJNBeOAbiBkjOjC3BCaicGHfAsbvIQB_dMEgNmgeaT8NgQStDenJIl1vv1=w434-h939-no?authuser=0" alt="">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline">
          <b class ="texto" style="color:#ffffff;">Ao infinito e além</b>
          <small class="textomenor"style="color:#ffffff;" >5 cigarros não fumados</small>
          <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3dCwzb1mqfLlCS4elVfsf8TKj5UrYevcILWrQI4zwOKxjkQq8T9bMIPdyldRGkSneDXzEKVkCvR6FwsoBa68P1Edmi4rnlKWeR7LRRnlgsKRqbkswhzdMCWTuqqUxAaJXGMU04frg0kbmYUBraLxMxz=w433-h939-no?authuser=0" alt="">
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Vivendo a vida!</b>
    <small class="textomenor"style="color:#ffffff;" > 300 R$ economizados</small>
  <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3eGzADckSJR7EOm3sGga6_PPdlDSDBMC-bYQZPibc9HhJxVNi1jXgGsFYbvCnJrzxuuwWCXkK8OQSdzLiGSgwsxWRdzysXaAKutpoG2Ce4qVGlFdM2Z8uvV0i610HKL8Mr83OLpOpJd03PBmuf7bz4t=w434-h939-no?authuser=0" alt="">
</ion-button>      
</ion-col>
<ion-col>
  <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">De pouco em pouco</b>
    <small class="textomenor"style="color:#ffffff;" >15 cigarros não fumados</small>
    <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3cCnoFVNyj350IlcWQEqRAod4w8xqyV4vyMY3H3_aW3IScYjtaHRwKBLx015-35Qnu34G2fK6hJMHEPanJN76E6ZcIqOJMGEQ51f5vgHdiA1hGDFpfah-yJ_0ZmRsp_ctsEUJqrXK-fuuiiKnkk32M7=w434-h939-no?authuser=0" alt="">
</ion-button>      
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">A primeira semana!</b>
    <small class="textomenor"style="color:#ffffff;" >7 dias sem fumar</small>
    <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3ccTqHdeV5q63yr-dy7TDJj1FkBoVRGWhLsO-5uYRm2TMRFpQqVN9R8GGhv6OKSUD07Co_SjFYADKabaFOm5LZ-cLadCZdgJs6eKyHcXHfGhCnsi5ADV_mbTTrnq1fzSOf2K9OCN9DSo-RZbTldSKj0=w434-h939-no?authuser=0" alt="">
</ion-button>      
</ion-col>
<ion-col>
  <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">1° Lugar</b>
    <small class="textomenor"style="color:#ffffff;" >100 cigarros não fumados</small>
    <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3fXwB6EwzdjXZe4G6BHKWRREf6IX3E2mXM0eq_I1Asu3zaKeddQZq4zfKLd8RhUVaVjU-mYjpJl8jtGrb5SpV-SW5dM-oJ9m-l22uJCGkfR_Tf1smmbbdt2iDTNDQcrxAVfVTQoIreROkGhaDk-Clz9=w434-h939-no?authuser=0" alt="">
</ion-button>      
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Foi tarde</b>
    <small class="textomenor"style="color:#ffffff;" >2 Semanas sem fumar</small>
    <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3dffRxEzpKmfPl5r4GAaDAHPuVBh3JDxctKO-_war1ccg_Y0AXL6RDVIPG1VkHy9frcsEpKCrfMUK17mXWLCJB1rISTMnSzesBEDYeg4-eeNL3hLClMfD-Wqud-SjP2IpaGeNKqBZUGEV9r9zvNvjdB=w434-h939-no?authuser=0" alt="">
</ion-button>      
</ion-col>
<ion-col>
  <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Sigo meu caminho</b>
    <small class="textomenor"style="color:#ffffff;" >50 cigarros não fumados</small>
    <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3essodOHuFKKZB5LHPUwErP0zt2Qtf-6EuHh58bmyd8MkUOmyM5YFjsu9Ykq87i6E7HfvpDUOhg2-QEkWwUOP2ZLbCiA77nQHzfAf1sF9uQ_o5qYTuusFywa6CxaEHqMbE-m_R2wgFTB3zx39uEwvKZ=w434-h939-no?authuser=0" alt="">
</ion-button>      
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Menos papéis</b>
    <small class="textomenor"style="color:#ffffff;" >10 dias sem fumar</small>
    <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3f-gSgrmwARBQYKU1VVapWNtQfQiwPRckQRw_d4CeBGfDKC7X7ZfCKh0zU_NEY5ARaVFBEoN-CqHocefNmsCag-lCVfEAikodOcnajzrERyLxjrQa7paGXfJ7YT47_Krk1xZGS6tLYCwqj08zzv6CtN=w434-h939-no?authuser=0" alt="">
</ion-button>      
</ion-col>
<ion-col>
  <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Imparável</b>
    <small class="textomenor"style="color:#ffffff;" >6 meses sem fumar</small>
    <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3fyAGEJEiI7-6sUfrW2xVewiplBgaakqPpz7omwBj4IEFlySjtG7oISeRNmwg2Bb9aMQWCy4Ub91r2qMmbpLvv6lIRS3VMJ3A2PVfLvWHcj5Gmuwx1Je8ma4BeLsXZqso5qyNUaqAWhvAZ2y_3aw8xa=w434-h939-no?authuser=0" alt="">
</ion-button>      
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Conquista Bloqueada</b>
    <small class="textomenor"style="color:#ffffff;" >??????</small>
    <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3emAJ9b2Tb-YshkwFoJ4lG18Zh6ZdJSzdfo1yFnRpopEqsCSt0n_yQbnge5PRzGgBNOJs8dtqFgqTeUQORVg6SlypHu0SLsX1ATszWQCi-eMa2w7WKYWUphEtAF0j4Ja9CN1KqIijg86ksz3obcw75-=w514-h784-no?authuser=0" alt="">
</ion-button>      
</ion-col>
<ion-col>
  <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Conquista Bloqueada</b>
    <small class="textomenor"style="color:#ffffff;" >??????</small>
    <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3dK1otj7NL6v3k2wLJoqQIzW8fB3PHb2vOGqTcKoaBPOgUOM9UzOb8C04-sXGEIgzj3ffyZPhnC4q2FVBYOd0vhDs7nMaF45iP1Ugj646dzl-bS26EyrKB0_CnOK0evPPcgDKyetLqwJamo9wXEjFVd=w521-h784-no?authuser=0" alt="">
</ion-button>      
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Cigarro? Nunca mais!</b>
    <small class="textomenor"style="color:#ffffff;" >500 cigarros não fumados</small>
    <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3dutVXOOBl2Uuvro-U6azdWV79XqofwW0Jub7i9W3WOJYaWVQ-4yJjLwFujYIQ1xlP2cT2JK84MWdQR5u4Ac6wP55ec8LWoVi5Zb-CH18M9oX6JiIZHIOsd7f7Y2pdJoc2j1L86YFYg49T6hdiishR8=w434-h939-no?authuser=0" alt="">
</ion-button>      
</ion-col>
<ion-col>
  <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Conquista Bloqueada</b>
    <small class="textomenor"style="color:#ffffff;" >??????</small>
    <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3fOk4997cZxUd_fFKhkCqz0BuYbenMEVcuZGyzlz4AgOWauRNK0M53dGydXphnkMzyUcIP-dwM9gygvTaKnyiJrVXdQuwemtqeg_-LM18jUmJZ8PfUuhBiLDtJKXUjuHpoGtwyYu0FIuefs_NtQ_6fQ=w521-h784-no?authuser=0" alt="">
</ion-button>      
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Conquista Bloqueada</b>
    <small class="textomenor"style="color:#ffffff;" >??????</small>
    <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3cHge5nsQncyDGIkSXOsHb0dRGfmF5eT16Q8tWBev67_54pHYKFgTNgdhVLyZ1_Vd20CXvT_ocsHWiMyW3qkdwYNGXqoMgB8hhVTMDyHoCpDIgXwpjnDqfGxzPE6JCdDo0uVDIZYTyh3-DD6N329jbH=w521-h784-no?authuser=0" alt="">
</ion-button>      
</ion-col>
<ion-col>
  <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">O primeiro ano!</b>
    <small class="textomenor"style="color:#ffffff;" > 1 ano sem fumar!</small>
    <img class="img" src="https://lh3.googleusercontent.com/pw/ACtC-3fJOZ9sEHez6dUL2YmrXDqUvSzRpM_H5B_6jph7NeQMZx_H2N87eYqxV2z5kGnKw9ad26DJoZ1vItHNKgE2vgT6u0r1nSld1HwK5ha2MZeoLKI4jzLmozsvZI4z-FrClBSfb1Jm9V3w1IqYqnXQc_nx=w434-h939-no?authuser=0" alt="">
</ion-button>      
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
