<ion-header>
  <ion-toolbar>
    <ion-title> Conquistas</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="homeperfil"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
          <b class ="texto" style="color:#ffffff;">Seu primeiro passo</b>
          <small class="textomenor"style="color:#ffffff;" >1 dia sem fumar</small>
          <img class="img" src="assets/icon/1 dia sem fumar.png" alt="">
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline">
          <b class ="texto" style="color:#ffffff;">Ao infinito e além</b>
          <small class="textomenor"style="color:#ffffff;" >5 cigarros não fumados</small>
          <img class="img" src="assets/icon/5 cigarros.png" alt="">
       </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Vivendo a vida!</b>
    <small class="textomenor"style="color:#ffffff;" > 300 R$ economizados</small>
    <img class="img" src="assets/icon/300 reais economizados.png" alt="">
  </ion-button>      
</ion-col>
<ion-col>
  <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">De pouco em pouco</b>
    <small class="textomenor"style="color:#ffffff;" >15 cigarros não fumados</small>
    <img class="img" src="assets/icon/15 Cigarros não fumados.png" alt="">
  </ion-button>      
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">A primeira semana!</b>
    <small class="textomenor"style="color:#ffffff;" >7 dias sem fumar</small>
    <img class="img" src="assets/icon/1 semana sem fumar.png" alt="">
  </ion-button>      
</ion-col>
<ion-col>
  <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">1° Lugar</b>
    <small class="textomenor"style="color:#ffffff;" >100 cigarros não fumados</small>
    <img class="img" src="assets/icon/100 cigarros não fumados.png" alt="">
  </ion-button>      
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Foi tarde</b>
    <small class="textomenor"style="color:#ffffff;" >2 Semanas sem fumar</small>
    <img class="img" src="assets/icon/2weeks.png" alt="">
  </ion-button>      
</ion-col>
<ion-col>
  <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Sigo meu caminho</b>
    <small class="textomenor"style="color:#ffffff;" >50 cigarros não fumados</small>
    <img class="img" src="assets/icon/50 cigarros não fumados.png" alt="">
  </ion-button>      
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Menos papéis</b>
    <small class="textomenor"style="color:#ffffff;" >10 dias sem fumar</small>
    <img class="img" src="assets/icon/10 dias sem fumar.png" alt="">
  </ion-button>      
</ion-col>
<ion-col>
  <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Imparável</b>
    <small class="textomenor"style="color:#ffffff;" >6 meses sem fumar</small>
    <img class="img" src="assets/icon/Imparavel.png" alt="">
  </ion-button>      
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Conquista Bloqueada</b>
    <small class="textomenor"style="color:#ffffff;" >??????</small>
    <img class="img" src="assets/icon/Conquista bloqueada.png" alt="">
  </ion-button>      
</ion-col>
<ion-col>
  <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Conquista Bloqueada</b>
    <small class="textomenor"style="color:#ffffff;" >??????</small>
    <img class="img" src="assets/icon/Conquista bloqueada2.png" alt="">
  </ion-button>      
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Cigarro? Nunca mais!</b>
    <small class="textomenor"style="color:#ffffff;" >500 cigarros não fumados</small>
    <img class="img" src="assets/icon/Cigarro Nunca Mais.png" alt="">
  </ion-button>      
</ion-col>
<ion-col>
  <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Conquista Bloqueada</b>
    <small class="textomenor"style="color:#ffffff;" >??????</small>
    <img class="img" src="assets/icon/Conquista bloqueada3.png" alt="">
  </ion-button>      
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col>
      <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">Conquista Bloqueada</b>
    <small class="textomenor"style="color:#ffffff;" >??????</small>
    <img class="img" src="assets/icon/Conquista bloqueada4.png" alt="">
  </ion-button>      
</ion-col>
<ion-col>
  <ion-button class="conquistas" expand="full" style="font-size:12px" fill="outline"> 
    <b class ="texto" style="color:#ffffff;">O primeiro ano!</b>
    <small class="textomenor"style="color:#ffffff;" > 1 ano sem fumar!</small>
    <img class="img" src="assets/icon/1year.png" alt="">
  </ion-button>      
</ion-col>
</ion-row>
</ion-grid>
</ion-content>
