<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="homeperfil"></ion-back-button>
    </ion-buttons>
    <ion-title> Dicas de saúde</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  

  <ion-slides [options]="option" class="ion-margin-top">

    <ion-slide>
      <ion-card>
        <img src="https://lh3.googleusercontent.com/pw/ACtC-3fEbL1MnFgiwb-6EYnjpQJo9d4wK1a6xiJJpVkLG6wCTt6FxAheVWFod9RKQPyyx1dylrD-0BS3aYvSGSjnu3Q5lDg6NxWVE_jY4pc3f8foqFOZsVM5K0BXqk-lo8Kb9BFE-UZ7iKaoL3tm3VH-rHFv=w467-h522-no?authuser=0">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="https://lh3.googleusercontent.com/pw/ACtC-3e1cIC0dby6wB25KtqrQeRUS9OjZtS7l1Dr7HAxuz3CHTyKdnySezGjSVHUQuJwSZ5vrWY2doTU7SX-DJ-wG8PAh-q0bOba4BlbKnX6i4HneViskW8VcQetwKMoH-DXAnoXmq1Z4oE72u80z4v1uHdj=w467-h522-no?authuser=0">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="https://lh3.googleusercontent.com/pw/ACtC-3fdTanTtPleuNzR4NBM__Z3W-mu46ikDbjPEEmaFv8PjLQH7se9rie4eTbZtRT8iU9Uf5GCOboGoMySV76OWZMxq9qiGrpJXfpERQbukbaaDl180b7rjeuMDciiH2g2D3wv_eWV1KNnDuZrE1KBeVaT=w467-h522-no?authuser=0">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="https://lh3.googleusercontent.com/pw/ACtC-3ecA7hso1T5PmFsVBI3T5pLRZMVkmJFm0ITTMVUKqcv1gLDbDeLkqI1kgp_0UVReHprfGhZkSBuAKsF32-4jEBmnBqMxcFbFp8t_7VpkwHbN7Xm4AmJD1VtxMj7769eqZ15s2eFfQRkY9ikgYPXaXXI=w467-h522-no?authuser=0">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="https://lh3.googleusercontent.com/pw/ACtC-3cgCH3mziXoBD1zeP23dIA_OGzMepLjskk5lIh_-RNt83ifbmNb7MgSbjq98YKsXiSPlbJLIttQZY9-3LMEDgfRKjw7zWFxF5mnu6KB56Y81iOgVYzhlu6sn1NtnVo8_IYeka52vyXfCQlx1gJu99xr=w467-h522-no?authuser=0">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="https://lh3.googleusercontent.com/pw/ACtC-3dM6HyJwrcJ70Ry11tiMBZ7wn943mfps3Pw6mD2lnj3DR1s0pB1ZhIDXKTTvCaw988skx9XutuDw7EwNpDQc3Vp5CoeKtuPZnJYGR_y3Q8o-oLxIlYUs1XkbvRVfSxA2hf93zKQmUm6qFxe8b_9VjHu=w467-h522-no?authuser=0">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="https://lh3.googleusercontent.com/pw/ACtC-3c_FC4eTfzKqtXIoimQ4Wq8A8FEQ3YCkzBq8-afFcz10VQxznfgBvGBkFCjDbFdkzkbKWgcjHjp7KseVQevZWrcVJXDGX6Dj0WaNHL1kwkuaTedg3AG8219-kGJ9Jcj5yFmKrI5YLDBfBHZJpU75En_=w467-h522-no?authuser=0">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="https://lh3.googleusercontent.com/pw/ACtC-3e6l9Mz4KgGrUle-DSlL0tFVuQuqP_HQXO1DhwABJk0jfEeOFtEdVnRlBQlTjvJzKFEbSN9fhd1P9d2IUCSSRRkNpLrP1atlh7-yyXJOTNouAEWAD3qIbViDvh0xq6SF7A2CGJxkzBPoDwAHyzuYZpf=w467-h522-no?authuser=0">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="https://lh3.googleusercontent.com/pw/ACtC-3fd5ay-2c7ATTkwoJWaecdT5oFMMsEpDXkaD-AEjnMVHH9IkEfrYrxYrjU4_JjdVPIHxBLe_t44KfWrWtHELgRu_m7kf5bxvD_zFoWQatXuezkKABZWpFdfvRZjP_-XIM0qgcngjEeTuWsVb00Xd8Mt=w467-h522-no?authuser=0">
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card>
        <img src="https://lh3.googleusercontent.com/pw/ACtC-3cOjWcF49JshiUa9fPLbRPPNrg7tUP2m9gzdVIClg3sJ2Bfi8KextAKPiRpo_QfG6HQjtcaonvZCHcIzLnb7MVLWZqnsGwE2Ie4K0-cPyTkMDXZfAdLGWfSD1Yl7QWV1KCxr57ByZwggW8wYO8_ITi3=w467-h522-no?authuser=0">
      </ion-card>
    </ion-slide>
    

  </ion-slides>
  
