<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="homeperfil"></ion-back-button>
    </ion-buttons>
    <ion-title> Dicas de saúde</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  

  <ion-slides [options]="option" class="ion-margin-top">

    <ion-slide>
      <ion-card>
        <img src= "assets/icon/20 minutos.png">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/icon/2 horas.png">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/icon/8 horas.png">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/icon/24 horas.png">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/icon/48 horas.png">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/icon/2 semanas a 3 meses.png">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/icon/1 ano.png">
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/icon/5 anos.png">      
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="assets/icon/10 anos.png">      
      </ion-card>
    </ion-slide>
    
    <ion-slide>
      <ion-card>
        <img src="assets/icon/15 anos.png">
      </ion-card>
    </ion-slide>
    

  </ion-slides>
  
