<ion-content class="ion-padding" color="medium">
  <ion-card color="light" class="ion-padding">
    <ion-row class="ion-align-self-center">
      <h3 class="titulopage">Bem vindo ao Stop Smoking</h3>
    </ion-row>
  </ion-card>


  
    <div id="inputname">
      <ion-card>
        <form>
          <ion-item class="">
            <ion-input placeholder="Insira seu nome" type="text" [name]="nomeuser"></ion-input>
          </ion-item>
        </form>
      </ion-card>
    </div>
  
    

  <div id="btnhome">
  
    <ion-button href="http://localhost:8100/form01" ion-button expand="block" shape="round" round>
      CONTINUAR
      </ion-button>
    
  </div>
</ion-content>

