
<ion-content  padding class="background" [fullscreen]="true">

  <ion-card color="light">
    <ion-grid>
      <ion-row class="ion-margin-horizontal">
        <h3> Bem vindo ao Stop Smoking </h3>
      </ion-row>
    </ion-grid>
    <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
  </ion-card>


  <div id="inputname">
    <ion-card>
        <ion-item class="">
          <ion-input placeholder="Insira seu nome" type="text" [(ngModel)]="nomeuser" required></ion-input>
        </ion-item>
    </ion-card>
  </div>

  <div id="btnform">
    <!-- <ion-button (click)="validation()" expand="block" shape="round">
      Salvar
    </ion-button> -->

    <ion-button routerLink="/form01" class="botao1" id="botao1" (click)="savename()" expand="block" shape="round">
      CONTINUAR
    </ion-button>
  </div>
  
</ion-content>